import * as host from "@gl/api/w2h/host";
import { String } from "@gl/types/i18n";
import * as twine from "@gl/utils/twine";
import * as level from "../main";

const log = host.debug.log;
const logError = host.debug.logError;

{% for cls in state_classes %}
{{cls}}
{% endfor %}

export const state = new State();

// If we're using an alias on our link, then we need to map from our shown
// choice id to our alias choice id.
const choiceToPassage = new Map<string, string>();
{% for choice_id, pid in choice_to_passage.items() -%}
choiceToPassage.set("{{choice_id}}", "{{pid}}");
{% endfor %}


{% macro passage(p) %}
// Show interact button for "{{p.name}}"
export function stage_{{p.nice_id or p.id}}(entered: bool): void {
    if (entered) {
        host.controls.setButtons([
            {
                label: "interact",
                slug: "passage/{{p.id}}",
            }
        ]);
    } else {
        host.controls.setButtons([]);
    }
}

// "{{p.name}}"
export function passage_{{p.nice_id or p.id}}(): void {
    // {{p.title}}
    const title = "{{p.title_id}}"; 
    const animate = {{"false" if p.is_sign else "true"}};
    let text = "";
    const choices: string[] = [];
    const params = new Map<string, string>();
    twine.incrementVisitCount("{{p.id}}");

{% for line in p.state.init %}
    {{line}}
{%- endfor %}

{{p.content}}

    if (text.length > 0) {
        host.text.display("{{p.id}}", title, text, choices, params, animate);
    }
}
{% endmacro %}

{% macro stringEntry(key, string) %}
    {
        key: "{{key}}",
        values: [
            {
                "text": {{string}},
                "lang": "en"
            }
        ]
    },
{% endmacro %}

export function strings(): String[] {
    return [
        {{ stringEntry("interact", '"Interact"') }}
    {% for key, string in all_strings.items() %}
        {{ stringEntry(key, string) }}
    {% endfor %}
    ];
}

/**
 * Called when the player interacts with a choice dialog.
 *
 * @param passageId The id of the passage that the user interacted with.
 * @param passageId The id of the choice that the user made.
 */
export function choiceMadeEvent(passageId: string, choiceId: string): void {
    if (choiceId === "") {
        log(`Passage ${passageId} closed.`);
        level.dialogClosedEvent(passageId);
        return;
    }
    log(`Choice made for ${passageId}: ${choiceId}`);
    if (choiceToPassage.has(choiceId)) {
        choiceId = choiceToPassage.get(choiceId);
    }
    dispatch(choiceId);
}

{% for p in passages %}
{{ passage(p) }}
{% endfor %}

export function dispatch(passageId: string): void {
    let found = false;
    {% for p in passages %}
    if (passageId === "{{p.id}}") {
        found = true;
        passage_{{p.nice_id or p.id}}();
    }
    {% endfor %}

    if (!found) {
        log(`No passage found for ${passageId}, does it have content?`);
    }
}