.devInputRoot {
  background: #181818;
  color: #eee;
  padding: 0.5em;
  font-family: monospace;
  width: 100%;
}

.inputRow {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 0.2em;
}

.inputField {
  font-family: monospace;
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #eee;
  border: none;
  outline: none;
  margin-left: 0.2em;
}

.suggestions {
  color: #aaa;
  margin-top: 0.5em;
}

.outputError {
  color: #f55;
}

.outputSuccess {
  color: #7f7;
}

.suggestionItem {
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.suggestionSelected {
  background-color: #343434;
}
